#include "stddef.h"


#define IPHLEN 20

#define UDPHLEN 8


#define NTPDATA 4
/* original paket je padovanej na 200, ale staci i 4 */
/* #define NTPPADDING1 188 */
#define NTPPADDING 4

#define UDPDLEN NTPDATA+NTPPADDING

#define UDPLEN UDPHLEN+UDPDLEN

#define IPTLEN IPHLEN+UDPLEN

{
  /* Mac Destination */
  DSTMAC,
  /* MAC Source */
  SRCMAC,
  /* IPv4 Protocol */
  c16(0x0800),

  /* IPv4 Version, IHL, TOS */
  0x45, 0
  /* IPv4 Total Len */
  c16(IPTLEN),
  /* IPv4 Ident */
  drnd(2),
  /* IPv4 Flags, Frag Off */
  0b00000000, 0b00000000,
  /* IPv4 TTL */
  64,
  /* Proto UDP */
  17,
  /* IPv4 Checksum (IP header from, to) */
  /* csumip(14, 33), */
  IP_CSUM_DEFAULT,
  /* Source IP */
  SRCIP,
  /* Dest IP */
  DSTIP,

  /* UDP Source Port */
  drnd(2),
  /* UDP Destination Port */
  /* c16(DSTPORT), */
  DSTPORT,
  /* UDP Length */
  const16(UDPLEN),
  /* UDP checksum (Can be zero) */
  const16(0),

  /* ntp */
  /* flags */
  0x17,
  /* auth */
  0x00,
  /* impl */
  0x03,
  /* mon_getlist_1 */
  0x2a,

  fill(0x00, NTPPADDING)


}





